<div class="body">
    <div class="container">
        <div class="nav">
            <a href="about" style="margin-left: 20px; color: black; text-decoration:none"><strong>Pascal</strong></a>
            <a href="experience" style="margin-left: 20px; color: black; text-decoration:none"><strong>Experience</strong></a>
            <a href="projects" style="margin-left: 20px; color: black; text-decoration:none"><strong>Personal Projects</strong></a>
            <a href="contacts" style="margin-left: 20px; color: black; text-decoration:none"><strong>Contacts</strong></a>
        </div>
    </div>