<!-- <router-outlet></router-outlet> -->
<div class="container2">
    <p style="color: white;"><strong>Hello, My name is Pascal onyeka. I am a graduate student pursuing a Master's degree in the Software Engineering Department at Auburn University</strong></p>
    <p style="color: white;"><strong>I am currently avaliable to work, and I am looking for a position in Software Engineering or any related Field.</strong></p>
    <p style="color: white;"><strong>You can check out my Resume below. I also posted the link to my github and some of my personal projects. Thank You!!! </strong></p>


</div>
<div class="c mt-5"><app-experience></app-experience>
</div>
<